.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  /* display: flex; */
  align-items: center;
  
  /* From https://stackoverflow.com/questions/22196587/how-to-center-align-vertically-the-container-in-bootstrap "The Flexible Box way" */
}